<div class="contenedor" >
  <mat-form-field>
    <mat-label >Buscar:</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar" >
  </mat-form-field>

  <!--<div class="mat-elevation-z8" *ngIf="administrador || modificarTienda">-->
  <div class="mat-elevation-z8" >
    <!-- <mat-form-field>
      <mat-label>Buscar:</mat-label>
      <input matInput (keyup)="filtrar($event)" [(ngModel)]="filtro" placeholder="  Buscar">
    </mat-form-field> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Id </th>
        <td mat-cell *matCellDef="let compa" > {{compa.id}} </td>
     </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Nombre </th>
        <td mat-cell *matCellDef="let compa" > {{compa.company}} </td>
      </ng-container>

       <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Primer Apellido </th>
        <td mat-cell *matCellDef="let compa" > {{compa.firstName}} </td>
      </ng-container>

      <!--<ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Segundo Apellido  </th>
        <td mat-cell *matCellDef="let compa" > {{compa.lastName}} </td>
      </ng-container> -->


      <ng-container matColumnDef="operaciones">
        <th mat-header-cell *matHeaderCellDef > Operaciones </th>
        <td mat-cell *matCellDef="let j = index;let compa">
          <button  mat-icon-button  (click)="selectPolicy(compa)" md-fab class="image" matTooltip="Editar Familia">
            <mat-icon>edit</mat-icon>
          </button>
          <button  mat-icon-button  (click)="deletePolicy(compa,true)" md-fab class="image" matTooltip="Borrar Familia">
            <mat-icon>delete_forever</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>



<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title style="text-align: center;">Formulario Reactivo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <!-- POnemos etiqueta -->
            <mat-label>Copañia:</mat-label>
            <!-- Realizamos binding con [(ngModel)]="compa.company" -->
            <input matInput [(ngModel)]="compa.company" placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Primer Apellido:</mat-label>
            <input matInput [(ngModel)]="compa.firstName" placeholder="First name" formControlName="firstName">
            @if (addressForm.controls['firstName'].hasError('required')) {
              <mat-error>Primer apellido es <strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Segundo apellido:</mat-label>
            <input matInput [(ngModel)]="compa.lastName" placeholder="Last name" formControlName="lastName">
            @if (addressForm.controls['lastName'].hasError('required')) {
              <mat-error>Segundo applido es <strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Dirección:</mat-label>
            <textarea matInput [(ngModel)]="compa.address" placeholder="Address" formControlName="address"></textarea>
            <mat-hint align="end">{{compa.address.length}} / 200</mat-hint>
            @if (addressForm.controls['address'].hasError('required')) {
              <mat-error>Dirección es<strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          @if (hasUnitNumber) {
            <mat-form-field class="full-width">
              <mat-label>Dirección 2:</mat-label>
              <textarea matInput [(ngModel)]="compa.address2" placeholder="Address 2" formControlName="address2"></textarea>
              <mat-hint align="end">{{compa.address2.length}} / 200</mat-hint>
            </mat-form-field>
          } @else {
            <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
              + Add C/O, Apt, Suite, Unit
            </button>
          }
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Ciudad:</mat-label>
            <input matInput [(ngModel)]="compa.city" placeholder="City" formControlName="city">
            @if (addressForm.controls['city'].hasError('required')) {
              <mat-error>City is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Estado:</mat-label>
            <mat-select [(ngModel)]="compa.state" placeholder="State" formControlName="state">
              @for (state of stat.states; track state) {
                <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
              }
            </mat-select>
            @if (addressForm.controls['state'].hasError('required')) {
              <mat-error>El estado es <strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Código Postal:<strong>(Longitud de 5)</strong></mat-label>
            <input matInput #postalCode maxlength="5"  [(ngModel)]="compa.postalCode" placeholder="Postal Code"  
            formControlName="postalCode" required>
            <!--<mat-error *ngIf="addressForm.controls['postalCode'].hasError('required')">
              Codigo Postal  <strong>(Longitud de 5)</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['postalCode'].hasError('minlength') || addressForm.controls['postalCode'].hasError('maxlength')">
              La longitud es de 5 números y obligatorio
            </mat-error>  -->
            <div *ngIf="addressForm.controls['postalCode'].invalid && addressForm.controls['postalCode'].errors &&
               (addressForm.controls['postalCode'].dirty || addressForm.controls['postalCode'].touched)">
                <mat-error *ngIf="addressForm.controls['postalCode'].invalid">{{getErrorMessage()}}</mat-error>
              <!-- <mat-error *ngIf="addressForm.controls['postalCode'].hasError('required')">
                Codigo Postal es requerido <strong>(Longitud de 5)</strong>
              </mat-error>
              <mat-error *ngIf="addressForm.controls['postalCode'].hasError('minlength')">
                La longitud es de 5 números y obligatorio
              </mat-error>
              <mat-error *ngIf="addressForm.controls['postalCode'].hasError('maxlength')">
                La longitud es de 5 números y obligatorio
              </mat-error>  -->
            </div> 
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      <div class="row">
        <div class="col">
          <mat-label>Envio:</mat-label>
          <mat-radio-group [(ngModel)]="compa.shipping" formControlName="shipping">
            <mat-radio-button   *ngFor="let op of shippings1" [value]="op.valor" name="gen">{{op.activo}}</mat-radio-button>
            <!-- <mat-radio-button value="free">Free Shipping</mat-radio-button>
            <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
            <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button> -->
          </mat-radio-group>
        </div>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Fecha creacción:</mat-label>
          <input matInput [(ngModel)]="compa.date" [matDatepicker]="picker" placeholder="Fecha creacción" formControlName="datecreated" >
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
        <div class="col">
          <mat-label>Habitantes:</mat-label>
          <!-- <mat-slider [(ngModel)]="minimo" formControlName="minimo" thumbLabel min="0" max="5000" step="1" showTickMarks #ngSlider> -->
            <mat-slider  formControlName="people" thumbLabel min="0" max="5000" step="1" showTickMarks discrete #ngSlider>
            <!-- <input matSliderThumb /><input matSliderThumb (change)="minimomaximo()" #ngSliderThumb="matSliderThumb" />  -->
            <input matSliderThumb  [(value)]="compa.people"   #ngSliderThumb="matSliderThumb" />
            <!-- <input matSliderThumb /><input matSliderThumb  #ngSliderThumb="matSliderThumb" /> -->
          </mat-slider>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Teléfono:</mat-label>
            <input matInput [(ngModel)]="compa.phone" placeholder="Phone" formControlName="phone" maxlength="10" >
            <mat-error *ngIf="addressForm.controls['phone'].errors">Por favor ingrese un número de teléfono válido (ej. 625510324)</mat-error>
          </mat-form-field>
        </div>

    </mat-card-content>
    <mat-card-actions>
      <div class="col">
        <button *ngIf="!modificar" mat-raised-button [disabled]="addressForm.invalid" (click)="submit=true;" color="primary" type="submit">Insertar</button>
        <button *ngIf="modificar" mat-raised-button [disabled]="addressForm.invalid" (click)="submit=true;" color="primary" type="submit">Modificar</button>
       </div>
       <div class="col">
        <button  mat-raised-button  color="primary" type="submit"  (click)="submit=false;inicializar()" matTooltip="Inicializar todos los campos para añadir un artículo nuevo">Inicializar</button>
    </div>
    </mat-card-actions>
  </mat-card>
</form>
